* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100%;
}

.main {
    position: relative;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Fixed the unit to rem */
    justify-content: center;
    align-items: center;
}

.main h1 {
    width: 100%;
    height: 13vh;
    background-color: white;    
    position: fixed;
    top: 0px;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 5rem;
    font-weight: bolder;
    text-shadow: 5px 2px rgb(226, 223, 223);
    color: rgb(248, 53, 53);
    /* border: 1px solid black; */
    z-index: 1;
    
}

#img-container {
    margin-top: 25vh;
    display: flex;
    width: 25rem;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

#img-container img {
    width: 100%;
    height: auto; /* Changed height to auto */
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 2px 5px 10px rgb(146, 145, 145);
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

#img-container img:hover {
    transform: scale(1.1);
    box-shadow: 5px 10px 15px rgb(198, 196, 196); ;
}
